<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.base.member.MemberDAO">

	<insert id="setJoin" parameterType="memberVO" >
	INSERT INTO MEMBER (USERNAME, PASSWORD,NAME, EMAIL,BIRTH,ENABLED)
	VALUES(#{username},#{password},#{email},#{name},#{birth},1)
	</insert> 
	
	<insert id="setMemberRole" parameterType="Map" >
	INSERT INTO MEMBER_ROLE (USERNAME,NUM)
	VALUES(#{username},#{num})
	</insert> 
	
	<select id="getMemberlist" resultType="memberVO">
	SELECT * FROM MEMBER	
	</select>
	
	<select id="setBirth" resultType="memberVO">
	<![CDATA[
	SELECT USERNAME FROM MEMBER 
	WHERE TO_CHAR(NOW(), 'MM/dd') <= TO_CHAR(BIRTH, 'MM/dd')]]>
	</select>
	
	
 	<select id="findPassword" resultType="memberVO">
	SELECT EMAIL,USERNAME FROM MEMBER	
	WHERE USERNAME = #{username} AND EMAIL = #{email}
	</select>
	
	
	 <update id="setEnabled" >
	 <![CDATA[
      UPDATE MEMBER SET ENABLED = 0
      WHERE LASTTIME <= DATE_SUB(NOW(), INTERVAL 3 DAY)]]>
    </update>
	
	
    <update id="updatePassword" >
	UPDATE MEMBER SET PASSWORD = #{password}
	WHERE EMAIL = #{email} AND USERNAME = #{username}
    </update>


  <update id="setLogOut" parameterType="memberVO" >
	UPDATE MEMBER SET LASTTIME = now()
	WHERE USERNAME = #{username}
    </update>

 	<select id="idDuplicateCheck" parameterType="memberVO" resultType="memberVO">
 	SELECT USERNAME FROM MEMBER
 	WHERE USERNAME = #{username}
 	</select>
 	
 	
	<select id="getLogin" parameterType="MemberVO" resultMap="GetLoglnResult" >
	 SELECT M.userName,M.password, M.email, R.num , R.ROLENAME
	 FROM MEMBER M 
	 	INNER JOIN 
	 	MEMBER_ROLE MR
	 	ON M.USERNAME = MR.USERNAME
	 	INNER JOIN
	 	ROLE R
	 	ON MR.NUM = R.NUM
	 	WHERE M.USERNAME = #{username}
	</select>

	<resultMap type="MemberVO" id="GetLoglnResult">
	<id property="username" column="username"/>
	<result property="password" column="PASSWORD"/>
	<result property="email" column="email"/>
		<collection property="roleVOs" javaType="List" ofType="MemberRoleVO">
			<id column="num" property="num" />
			<result column="RoleName"  property="RoleName"/>
		</collection>
	
	</resultMap>

</mapper>