<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.base.board.notice.NoticeDAO">


	<sql id="search">
	<where>
		<if test="kind == 'title'">
		TITLE LIKE CONCAT('%',#{search},'%')</if>
		<if test="kind == 'contents' ">CONTENTS LIKE CONCAT('%',#{contents},'%')</if>
		<if test="kind == 'writer'">WRITER LIKE CONCAT('%',#{writer},'%')</if>
		
	</where>
	</sql>

<select id="getTotalCount" parameterType="Pager" resultType="Long">
SELECT COUNT(NUM) FROM NOTICE
<include refid="search"></include>

</select>
	<insert id="setInsert" parameterType="com.iu.base.board.BoardVO">
	
	INSERT INTO NOTICE (TITLE, WRITER, CONTENTS,REGDATE,HIT)
	VALUES(#{title},#{writer},#{contents},now(),0)
	
	</insert>

    <delete id="setDelete" parameterType="BoardVO">
    DELETE FROM NOTICE WHERE NUM = #{num}
    </delete>
		
	<update id="setUpdate" parameterType="com.iu.base.board.BoardVO" >
	UPDATE NOTICE SET TITLE = #{title},WRITER = #{writer},CONTENTS = #{contents}
	WHERE NUM = #{num}
	</update>

	<select id="getList" parameterType="Pager"  resultType="NoticeVO" >
	
	SELECT * FROM NOTICE 
	<include refid="search"></include>
	ORDER BY NUM DESC
	LIMIT #{startRow},#{perPage}
	</select>

</mapper>